.main-div-footer{
    margin-top: 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.my-auto{
    transform: scale(1.2);
    text-decoration: none;
}